
/* Body styles */
body {
    background-image: url(Images/Wallpaper.jpg);
}



/* Main Body Styling */
mainmembers{
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    float: left;
}

mainmembers h1{
    color: rgb(117, 27, 126);
}

mainmembers h2{
    color: rgb(117, 27, 126);
}

*{
    box-sizing: border-box;
}

mainmembers .MembersNews{
    background-color: #fff;
    border: 3px solid rgb(117, 27, 126);
    float:left;
    width: 40%;   
}

mainmembers .MembersNews h2{
    text-align: center;
}

mainmembers .MembersPerks{
    background-color: #fff;
    border: 3px solid rgb(117, 27, 126);
    float:left;
    width: 40%;
    margin-left: 1%;
}

mainmembers .MembersPerks h2{
    text-align: center;
}








/* Aside Styles */
aside .SocialMedias {
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    float: left;
}

aside .SocialMedias h1{
    color: rgb(117, 27, 126);
}


