
/* Body styles */
body {
    background-image: url(Images/Wallpaper.jpg);
}



/* Main Body Styling */
main{
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    float: left;
}

main h1{
    color: rgb(117, 27, 126);
}

main h2{
    color: rgb(117, 27, 126);
}

*{
    box-sizing: border-box;
}

main .MembersNews{
    background-color: #fff;
    border: 3px solid rgb(117, 27, 126);
    float:left;
    width: 40%;   
}

main .MembersNews h2{
    text-align: center;
}

main .MembersPerks{
    background-color: #fff;
    border: 3px solid rgb(117, 27, 126);
    float:left;
    width: 40%;
    margin-left: 1%;
}

main .MembersPerks h2{
    text-align: center;
}








/* Aside Styles */
aside .SocialMedias {
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    float: left;
}

aside .SocialMedias h1{
    color: rgb(117, 27, 126);
}


